<div class="projects">
  <h1>PROJECTS</h1>

  <% if @error %>
    <div class="projects__error-message">
      <%= @error %>
    </div>
  <% end %>

  <% if @current_projects.present? %>
    <section class="projects__section">
      <h2>Current Focus</h2>
      <div class="projects__grid">
        <% @current_projects.each do |project| %>
          <%= render "project_card", project: project %>
        <% end %>
      </div>
    </section>
  <% end %>

  <% if @completed_projects.present? %>
    <section class="projects__section">
      <h2>Completed Projects</h2>
      <div class="projects__grid">
        <% @completed_projects.each do |project| %>
          <%= render "project_card", project: project %>
        <% end %>
      </div>
    </section>
  <% end %>

  <% if @config_projects.present? %>
    <section class="projects__section">
      <h2>Config</h2>
      <div class="projects__grid">
        <% @config_projects.each do |project| %>
          <%= render "project_card", project: project %>
        <% end %>
      </div>
    </section>
  <% end %>

  <% if @self_hosted_projects.present? %>
    <section class="projects__section">
      <h2>Self-Hosted</h2>
      <div class="projects__grid">
        <% @self_hosted_projects.each do |project| %>
          <%= render "project_card", project: project %>
        <% end %>
      </div>
    </section>
  <% end %>
</div>
